body {background: #111; padding: 0;}
h4 {margin-top: 0; font-size: 16px;}
.a {color: #ccc; text-decoration: underline;}
a {color: #d26c22; text-decoration: none;}
a:hover {opacity: .7;}
img {padding-top: 10px;}
ul {padding: 5px 0 0 0; color: #ccc;}
h2 {font-weight: 100;}
::-webkit-input-placeholder {color: #555;}
::-moz-placeholder {color: #555;}
:-moz-placeholder {color: #555;}
:-ms-input-placeholder {color: #555;}

input[type=text] {
	outline: none;
	border: 2px solid #ddd;
	border-radius: 16px;
	width: 41px;
	padding: 7px 20px;
	transition: .4s;
	background-color: #ddd;
	color: #111;
	font: 12px Verdana;
	cursor: pointer;
}
input[type=text]:hover {
	border-color: #d26c22;
}
input[type=text]:focus {
	width: 200px;
	border-color: #d26c22;
	background-color: #fff;
	cursor: auto;
}

li {
	background-color: #ddd;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 30px 40px;
	text-align: left;
	width: 500px;
	border-radius: 4px;
	color: #000;
	border-top: 4px solid #ddd;
}
li:hover {
	border-top: 4px solid #d26c22;
}

.content {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	box-sizing: border-box;
}

.parent {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.block {
	display: inline-block;
	text-align: center;
	color: #cdcdcd;
	font: 14px Verdana;
	padding: 50px 0;
}

.footer {
	text-align: center;
	color: #ccc;
	font: 12px Verdana;
	padding-top: 10px;
}

@media only screen and (max-width: 640px) {
	li {
		width: 240px; 
		text-align: center;
		padding: 20px 20px;
	}
}